---
import { Icon } from "astro-icon";
import Tours from "../../components/Tours.astro";
import SidebarContact from "../../components/ui/SidebarContact.astro";
import Layout from "../../layouts/Layout.astro";

const tour = {
   
   "title": "Sport Fishing",
   "slug" : "sport-fishing",
   "imageSlider": "/img/pesca-deportiva-banner-1.webp",
   "shortDescription": "Enjoy an exciting sport fishing experience in Puerto Vallarta and Nayarit. Catch big fish and live unforgettable moments on the high seas.",
   "description":["Immerse yourself in the exciting adventure of sport fishing in Puerto Vallarta and Nayarit. These destinations offer a privileged environment for the practice of this activity, with waters rich in marine diversity and a wide variety of species including marlin, tuna, mahi mahi and more. Our sport fishing tours will give you the opportunity to embark on an unforgettable experience on the high seas. Accompanied by experienced captains and fishing guides, you will delve into the depths of the ocean in search of the best fishing spots." , "Whether you are an experienced angler or an enthusiastic beginner, our tours are designed to suit your needs. We have boats equipped with the latest technology and quality fishing equipment, ensuring you have the best opportunities to catch big fish.", "In addition to the thrill of fishing, you can enjoy the natural beauty of the Puerto Vallarta and Nayarit coastline. Take in breathtaking views of the ocean, beaches and surrounding landscapes as you immerse yourself in the serenity of being surrounded by nature.", "Our team will be happy to provide you with assistance and advice throughout the tour, making sure you have a memorable and successful experience. Get your rod ready, catch the fish of your dreams and create lasting memories on a sport fishing tour in Puerto Vallarta and Nayarit."],
   "time": "6 Hours",
   "gallery" : [
       "/img/pesca-deportiva-1.webp","/img/pesca-deportiva-2.webp","/img/pesca-deportiva-3.webp","/img/pesca-deportiva-4.webp","/img/pesca-deportiva-5.webp","/img/pesca-deportiva-6.webp","/img/pesca-deportiva-7.webp","/img/pesca-deportiva-8.webp","/img/pesca-deportiva-9.webp","/img/pesca-deportiva-10.webp","/img/pesca-deportiva-11.webp","/img/pesca-deportiva-12.webp","/img/pesca-deportiva-13.webp","/img/pesca-deportiva-15.webp","/img/pesca-deportiva-16.webp"
   
   ]
}
---


<Layout title={tour.title}>
    <div class="relative ">
        <img
            class="object-cover w-full h-[28rem] object-center"
            width={1920}
            height={500}
            src={tour.imageSlider}
            alt={tour.title}
        />
        {/* <div class="top-0 left-0 right-0 bottom-0 absolute bg-[rgba(23,37,83,0.5)]"></div>

        <div class="absolute bottom-4 left-0 right-0 mx-auto text-white text-center justify-center drop-shadow-lg max-w-[550px] z-10">
            <p class="text-xl">{tour.shortDescription}</p>
        </div> */}
    </div>
    <div class="container mx-auto w-11/12 ">
        <div class="flex flex-col md:flex-row gap-3 relative my-10">
            <div class="w-full md:w-2/3">
                <div class="flex justify-between w-full flex-col sm:flex-row">
                    <div>
                        <h1>{tour.title}</h1>
                    </div>
                    <div class="flex flex-wrap items-center gap-3 ">
                        <label class="flex flex-row gap-2 items-center text-2xl uppercase font-bold bg-blue-950 rounded-md text-white px-3 ">
                            <Icon name="ph:clock-fill"  class="h-7 transition-all hover:scale-[1.3] text-white"/>
                            {tour.time}
                          </label>

                    </div>
                </div>

                <div class="container mt-5">
                    {tour.description.map( i => <p>{i}</p>)}

                </div>

                <div class="container mx-auto grid grid-cols-2 md:grid-cols-3 gap-3 -px-3 mt-3">
                    {tour.gallery.map((image, i) => {
                        return (
                            <img
                                src={image}
                                width={500}
                                height={500}
                                alt={tour.title}
                                class="w-full h-60 object-cover"
                            />
                        );
                    })}
                </div>
            </div>
            <div class="w-full md:w-1/3 px-3" id="reservar">
                <SidebarContact />
            </div>
        </div>

        <Tours title="Other Incredible Experiences" />

        <a href="/tours/#reservar">
            <div class="fixed bottom-3 left-3 bg-blue-900 text-white flex items-center gap-2 px-2 py-2 rounded-md md:hidden">
                <label>RESERVAR!</label>
               <!--  <FaCalendar /> -->
            </div>
        </a>
    </div>
</Layout>