---
import Blog from '../../../components/Blog.astro';
import SidebarTours from '../../../components/ui/SidebarTours.astro';
import Layout from '../../../layouts/Layout.astro';
import { getCollection } from 'astro:content'


export async function getStaticPaths() {

  const pages = await getCollection('blog')

  const paths = pages.map(page => {
    const [lang, ...slug] = page.slug.split('/');
    return { params: { lang, slug: slug.join('/') || undefined }, props: page }
  })

  return paths;

}

const { lang, slug } = Astro.params;
const page = Astro.props;

const { Content } = await page.render();

const sidebarTitle = lang === 'en' ? 'Our best experiences' : 'Nuestras mejores experiencias'
---
<Layout title={page.data.title}>

<img
  src={page.data.ftimg}
  alt={page.data.short}
  width={1200}
  height={700}
  class="mx-auto object-cover w-full h-[500px] object-center"
/>
<div class="container mx-auto w-11/12 mt-6">
  <div class="flex flex-wrap">
      <div class="w-full md:w-2/3">
          <h1>{page.data.title}</h1>

          <div class="flex flex-row gap-4">
              <label class="flex gap-1 items-center">
                  <!-- <FaUserAlt /> -->
                  {page.data.date}
              </label>
              <label class="flex gap-1 items-center">
                  <!-- <FaClock /> -->
                  {page.data.author}
              </label>
          </div>
          <div
              class="container mt-5 pr-5 text-justify"
              
            >
            {page.data.content.map((content) => {
              return (
                <p>{content}</p>
              )
            })}
            </div>
      </div>
      <div class="w-full md:w-1/3 "> 
          <SidebarTours title={sidebarTitle}/>
      </div>

  </div>
  <div class="my-5">
      <Blog />
  </div>
</div>
</>
  
  <Content/>
  
</Layout>